button#advanced_options.btn.btn-default.btn-circle type="button" title="#{advanced_options_button}" data-toggle="collapse" data-target="#collapse"
  = image_tag('wrench.png', size: "16x10", alt: 'show advanced options', id: 'plus')
  = image_tag('minus18.png', size: "22x12", alt: 'hide advanced options', id: 'minus')  