= link_to(download_path(download: :addresses),class: "btn btn-primary",id: "download_addr", remote: @remote ,title: download_addresses_title)
	i.icon-arrow-down.icon-white
	= ' '+download_addresses_button
= javascript_include_tag 'download_addr' if @remote
 