= "Generate "
- pick = if params[:howmany] then params[:howmany] else KEYS_DEFAULT end
= select_tag(:howmany, options_for_select(array,selected: pick ), class: 'pulldown large')
= " Addresses for Cold Storage"