= button_tag(type: "submit", id: "generate_button", class: "btn btn-primary btn-large", onclick: "#{if PI then 'pbkdfAlert();$(".tooltip").remove();' end}", title: generate_button_title, data: { disable_with: "<i class='icon-refresh icon-white'></i>&nbsp; #{generate_button_action}" } ) do
	i.icon-play.icon-white
	= ' '+generate_button