$grayMediumLight: #eaeaea;
$cream:#c7c7c7;
$appBgd:#444C57;
$topBlue:#1c648f;
$almostWhite:#DDD;
$grayDark:#232323;
$grayLight:#404040;
$grayMedium:#2b2b2b;
$tblue:#23719f;
$defaultlistcolor:#1d3d66;
$secondlistcolor:#486890;